---
import Layout from "@layouts/Layout.astro";
import SquareButtonList from "@components/SquareButtonList.astro";
import BannerList from "@components/BannerList.astro";

import fs from "fs";
import yaml from "js-yaml";

const wfile = fs.readFileSync("./src/data/work2.yml", "utf8");
const tfile = fs.readFileSync("./src/data/tools.yml", "utf8");
const work = yaml.load(wfile);
const tools = yaml.load(tfile);

const breadcrumbs = [
  { name: "Home", href: "." },
  { name: "Work", href: "work" },
];
---

<Layout breadcrumbs={breadcrumbs} title="Work">
  <div class="space-y-10">
    <section class="space-y-4">
      <h3 class="text-2xl">Work with your data</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <h3 class="text-xl">Run</h3>

      <SquareButtonList
        buttons={work.work}
        containerMargin={"mx-50"}
        numCols={2}
        aspectRatio="1/1"
      />
    </section>
    <section class="space-y-4">
      <h3 class="text-xl">Tools</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <p>
        Computational tools offered as a service: no download, no installation,
        but click-and-run.
      </p>
      <BannerList entries={tools.menu.main_tools} rootPath="work/tools" />
    </section>
    <section>
      <h3 class="text-xl mb-2">Contributed Tools</h3>
      <p class="mb-4">
        The tools below have been contributed and are maintained by authors
        affiliated with the <a
          href="https://www.materialscloud.org/home#partners"
          >Materials Cloud partners</a
        >.
      </p>
      <BannerList
        entries={tools.menu.contributed_tools}
        rootPath="work/tools"
      />
    </section>
  </div>
</Layout>
