---
import Layout from "@layouts/Layout.astro";
import SquareButtonList from "@components/SquareButtonList.astro";

import fs from "fs";
import yaml from "js-yaml";

const file = fs.readFileSync("./src/data/work.yml", "utf8");
const data = yaml.load(file);

const breadcrumbs = [
  { name: "Home", href: "." },
  { name: "Work", href: "work" },
];

// move into datafile?
---

<Layout breadcrumbs={breadcrumbs} title="Work">
  <div class="space-y-10">
    <section class="space-y-4">
      <h3 class="text-2xl">Work with your data</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <p>
        Tools and services for working with your data and generating new data in
        the cloud or directly on your machine.
      </p>
      <SquareButtonList numCols={3} buttons={data.work} />
    </section>
  </div>
</Layout>
