---
import Layout from "@layouts/Layout.astro";

const breadcrumbs = [
  { name: "Explore", href: "explore" },
  { name: "Connect to your REST API", href: null },
];

const codeStyle = "block bg-slate-100 px-2 py-1 font-mono text-sm";
---

<Layout breadcrumbs={breadcrumbs}>
  <h3 class="pb-2">Connect your AiiDA REST API</h3>
  <hr class="border-t border-gray-300 mb-4" />

  <p>
    Materials Cloud uses the <a href="https://github.com/aiidateam/aiida-explorer">AiiDA Explorer</a>
    to visualize the provenance of AiiDA databases. Please see the instruction in the corresponding GitHub
    repository to explore your own AiiDA database via the
    <a href="https://aiida-core.readthedocs.io/en/latest/restapi/index.html" target="_blank">AiiDA REST API</a>.
  </p>

</Layout>
