---
import Layout from "@layouts/Layout.astro";
import RectangleButton from "@components/RectangleButton.astro";

const breadcrumbs = [{ name: "Explore", href: "explore" }];

import BannerList from "@components/BannerList.astro";

import fs from "fs";
import yaml from "js-yaml";

const file = fs.readFileSync("./src/data/explore.yml", "utf8");
const data = yaml.load(file);
const profiles = data.profiles;

const optimade = {
  href: "https://optimade.materialscloud.org/",
  img: "images/logos/optimade.png",
  title: "OPTIMADE APIs",
  subtitle: "Explore Materials Cloud data via the standard APIs.",
};
---

<Layout breadcrumbs={breadcrumbs} title="Explore">
  <div class="space-y-10">
    <section class="space-y-4">
      <h3 class="text-2xl">Explore</h3>
      <hr class="border-t border-gray-300 mb-6" />

      <div class="flex mx-auto max-w-64 justify-center">
        <RectangleButton {...optimade} />
      </div>

      <h3 class="text-xl pt-2">
        Explore the AiiDA provenance of Materials Cloud databases
      </h3>
      <hr class="border-t border-gray-300 mb-6" />

      <p>
        An interactive browser for exploring AiiDA provenance graphs uploaded to
        the Materials Cloud Archive.
      </p>

      <BannerList entries={profiles} rootPath="explore" />
    </section>
  </div></Layout
>
